@model List<EveOnlineMissioningApp.Models.MissionCapture>

@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="~/Scripts/mission-capture.js" type="text/javascript"></script>
<link href="~/CSS/template--base.css" rel="stylesheet" type="text/css" />

<div class="main-content">
    <h2>This is the home page.</h2>
    <div class="mission-capture-info">
        <div class="title prop">
            <span class="label">Title:</span>
            <input class="value" name="title" type="text" />
        </div>
        <div class="start-time prop">
            <span class="label">Start Time:</span>
            <input class="value" name="startTime" type="datetime" />
        </div>
        <div class="end-time prop">
            <span class="label">End Time:</span>
            <input class="value" name="endTime" type="datetime" />
        </div>
    </div>
    <div class="mission-capture-controls">
        <div class="actions">
            <!--GREEN-->
            <div class="create-new btn btn-new">Create New Record</div>
            <!--GREEN-->
            <div class="start-timer btn btn-start">Start Timer</div>
            <!--ORANGE/RED-->
            <div class="stop-timer btn btn-stop">Stop Timer</div>
            <!--BLUE-->
            <div class="save-record btn btn-save">Save Record</div>
        </div>
    </div>
</div>